<div id="navigation-menu-bar">
  <nav>
    <ul>
      <li>
        {% if page.url == "/2013/" or page.url == "/2013/index.html" %}<span>Home</span>{% endif %}
        {% unless page.url == "/2013/" or page.url == "/2013/index.html" %}<a href="/2013/">Home</a>
        {% endunless %}
      </li><li>
        {% if page.url contains "/2013/cfp" %}<span>CFP</span>{% endif %}
        {% unless page.url contains "/2013/cfp" %}<a href="/2013/cfp/">CFP</a>{% endunless %}
      </li><li>
	<a href="/2013/program/"{% if page.url contains "/2013/program" or page.url contains "/2013/best-paper" %} class="nav-selected"{% endif %}>Program</a>
	<ul>
	  <li><a href="/2013/best-paper/">Best Paper</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2013/registration" %}<span>Registration</span>{% endif %}
        {% unless page.url contains "/2013/registration" %}<a href="/2013/registration/">Registration</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2013/accommodations" %}<span>Accommodations</span>{% endif %}
        {% unless page.url contains "/2013/accommodations" %}<a href="/2013/accommodations/">Accommodations</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2013/venue" %}<span>Venue</span>{% endif %}
        {% unless page.url contains "/2013/venue" %}<a href="/2013/venue/">Venue</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2013/submissions" %}<span>Submissions</span>{% endif %}
        {% unless page.url contains "/2013/submissions" %}<a href="/2013/submissions/">Submissions</a>{% endunless %}
      </li><li>
	<a href="/2013/organization/"{% if page.url contains "/2013/organization" or page.url contains "/2013/web-archive" or page.url contains "/2013/support" %} class="nav-selected"{% endif %}>Organization</a>
        <ul>
          <li><a href="/2013/web-archive/">Web Archive</a></li>
          <li><a href="/2013/support/">Support</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<script>
  function toggleNavigationVisibility() {
      let navMenu = document.getElementById("navigation-menu-bar").children[0].children[0];
      for (let i = 0; i < navMenu.children.length; i++) {
          navMenu.children[i].classList.toggle("display-whole-navigation-menu");
      }
  }
  document.getElementById("navigation-menu-bar").addEventListener("click", toggleNavigationVisibility, false);
</script>
