<h2>Thanks to our 2013 sponsors</h2>
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2013/AMD.png" alt="AMD" title="AMD" width="150" height="58">
  </a><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2013/Intel.png" alt="Intel" title="Intel" width="150" height="114">
  </a><br />
  <a href="https://www.nvidia.com">
    <img src="/assets/images/2013/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="150" height="111">
  </a>
</p>
<hr />
<p>
  <a href="https://www.qualcomm.com">
    <img src="/assets/images/2013/Qualcomm.png" alt="Qualcomm" title="Qualcomm" width="100" height="22">
  </a>
</p>
<hr />
<p>
  <a href="https://www.disneyresearch.com">
    <img src="/assets/images/2013/logo-disney.png" alt="Disney Research" title="Disney Research" width="90" height="75">
  </a><br />
  <a href="https://www.imgtec.com">
    <img src="/assets/images/2013/Imagination-Technologies-alpha.png" alt="Imagination Technologies" title="Imagination Technologies" width="90" height="50">
  </a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2013/Eurographics.gif" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2013/ACM-Siggraph.gif" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="93">
  </a><br />
  <a href="https://www.ibiblio.org">
    <img src="/assets/images/2013/ibiblio.gif" alt="ibiblio" title="ibiblio" width="90" height="27">
  </a>
</p>
