<h2>Thanks to our 2014 sponsors</h2>
<p>
  </p>
<hr />
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2014/AMD.png" alt="AMD" title="AMD" width="150" height="58">
  </a><br /><a href="https://www.intel.com">
    <img src="/assets/images/2014/Intel.png" alt="Intel" title="Intel" width="150" height="114">
  </a>
</p>
<hr />
<p>
  <a href="https://www.arm.com">
    <img src="/assets/images/2014/ARM.png" alt="ARM" title="ARM" width="125" height="38">
  </a><br /><a href="https://www.nvidia.com">
    <img src="/assets/images/2014/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="125" height="93">
  </a><br /><a href="https://www.qualcomm.com">
    <img src="/assets/images/2014/Qualcomm.png" alt="Qualcomm" title="Qualcomm" width="125" height="27">
  </a>
</p>
<hr />
<p>
  <a href="https://www.disneyresearch.com">
    <img src="/assets/images/2014/logo-disney.png" alt="Disney Research" title="Disney Research" width="90" height="75">
  </a><br /><a href="https://www.google.com">
    <img src="/assets/images/2014/logo-google.png" alt="Google" title="Google" width="90" height="30">
  </a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2014/Eurographics.gif" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2014/ACM-Siggraph.gif" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="93">
  </a>
</p>
