<h2>Thanks to our 2015 sponsors</h2>
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2015/AMD.png" alt="AMD" title="AMD" width="150" height="58">
  </a><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2015/Intel.png" alt="Intel" title="Intel" width="150" height="114">
  </a>
</p>
<hr />
<p>
  <a href="https://www.nvidia.com">
    <img src="/assets/images/2015/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="125" height="93">
  </a>
</p>
<hr />
<p>
  <a href="https://www.disneyresearch.com">
    <img src="/assets/images/2015/logo-disney-2015.png" alt="Disney Research" title="Disney Research" width="90" height="76">
  </a><br />
  <a href="https://www.google.com">
    <img src="/assets/images/2015/logo-google.png" alt="Google" title="Google" width="90" height="30">
  </a><br />
  <a href="https://www.oculus.com/research">
    <img src="/assets/images/2015/01_Oculus_Logo.png" alt="Oculus" title="Oculus" width="90" height="23">
  </a><br />
  <a href="https://www.activision.com">
    <img src="/assets/images/2015/Activision_logo_small.jpg" alt="Activision" title="Activision" width="90" height="22">
  </a><br /><a href="https://www.sra.samsung.com">
    <img src="/assets/images/2015/Samsung_Research_America_st-04.png" alt="Samsung Research America" title="Samsung Research America" width="90" height="59">
  </a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2015/Eurographics.gif" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2015/sig-logo-small.png" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="90">
  </a>
</p>
