<h2>Thanks to our 2016 sponsors</h2>
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2016/AMD.png" alt="AMD" title="AMD" width="150" height="58"><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2016/Intel.png" alt="Intel" title="Intel" width="150" height="114">
  </a>
  </a>
</p>
<hr />
<p>
  <a href="https://www.nvidia.com">
    <img src="/assets/images/2016/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="125" height="93">
  </a>
</p>
<hr />
<p>
  <a href="https://www.disneyresearch.com">
    <img src="/assets/images/2016/logo-disney-2016.png" alt="Disney Research" title="Disney Research" width="90" height="76">
  </a><br />
  <a href="https://www.samsung.com">
    <img src="/assets/images/2016/samsung-2016.jpg" alt="Samsung" title="Samsung" width="200" height="32">
  </a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2016/Eurographics.gif" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2016/sig-logo-small.png" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="90">
  </a>
</p>
