<h2>Thanks to our 2017 sponsors</h2>
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2017/AMD.png" alt="AMD" title="AMD" width="160" height="62">
  </a>
</p>
<hr />
<p>
  <a href="https://www.nvidia.com">
    <img src="/assets/images/2017/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="150" height="111">
  </a><br />
  <a href="https://www.oculus.com/research">
    <img src="/assets/images/2017/logo-oculus-2017.png" alt="Oculus" title="Oculus" width="180" height="101">
  </a><br /><a href="https://www.samsung.com">
    <img src="/assets/images/2017/logo-samsung-2017.png" alt="Samsung" title="Samsung" width="150" height="26">
  </a>
</p>
<hr />
<p>
  <a href="https://www.google.com">
    <img src="/assets/images/2017/logo-google-2017.png" alt="Google" title="Google" width="120" height="42">
  </a><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2017/Intel.png" alt="Intel" title="Intel" width="160" height="121">
  </a><br />
  <a href="https://www.disneyresearch.com">
    <img src="/assets/images/2017/logo-disney-2017.png" alt="Disney Research" title="Disney Research" width="110" height="91">
  </a><br />
  <a href="https://www.activision.com">
    <img src="/assets/images/2017/logo-activision-2017.png" alt="Activision" title="Activision" width="150" height="38">
  </a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2017/logo-eg-2017.png" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2017/sig-logo-small.png" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="90">
  </a>
</p>
