<div id="navigation-menu-bar">
  <nav>
    <ul>
      <li>
        {% if page.url == "/2017/" or page.url == "/2017/index.html" %}<span>High Performance Graphics 2017</span>{% endif %}
        {% unless page.url == "/2017/" or page.url == "/2017/index.html" %}<a href="/2017/">High Performance Graphics 2017</a>
        {% endunless %}
      </li><li>
        {% if page.url contains "/2017/cfp" %}<span>CFP</span>{% endif %}
        {% unless page.url contains "/2017/cfp" %}<a href="/2017/cfp/">CFP</a>{% endunless %}
      </li><li>
	<a href="/2017/program/"{% if page.url contains "/2017/program" or page.url contains "/2017/best-paper" %} class="nav-selected"{% endif %}>Program</a>
	<ul>
	  <li><a href="/2017/best-paper/">Best Paper</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2017/registration" %}<span>Registration</span>{% endif %}
        {% unless page.url contains "/2017/registration" %}<a href="/2017/registration/">Registration</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2017/accommodations" %}<span>Accommodations</span>{% endif %}
        {% unless page.url contains "/2017/accommodations" %}<a href="/2017/accommodations/">Accommodations</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2017/venue" %}<span>Venue</span>{% endif %}
        {% unless page.url contains "/2017/venue" %}<a href="/2017/venue/">Venue</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2017/submissions" %}<span>Submissions</span>{% endif %}
        {% unless page.url contains "/2017/submissions" %}<a href="/2017/submissions/">Submissions</a>{% endunless %}
      </li><li>
	<a href="/2017/organization/"{% if page.url contains "/2017/organization" or page.url contains "/2017/steering-committee" or page.url contains "/2017/web-archive" or page.url contains "/2017/support" or page.url contains "/2017/contact-us" %} class="nav-selected"{% endif %}>Organization</a>
        <ul>
          <li><a href="/2017/steering-committee/">Steering Committee</a></li>
          <li><a href="/2017/web-archive/">Web Archive</a></li>
          <li><a href="/2017/support/">Support</a></li>
          <li><a href="/2017/contact-us/">Contact Us</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<script>
  function toggleNavigationVisibility() {
      let navMenu = document.getElementById("navigation-menu-bar").children[0].children[0];
      for (let i = 0; i < navMenu.children.length; i++) {
          navMenu.children[i].classList.toggle("display-whole-navigation-menu");
      }
  }
  document.getElementById("navigation-menu-bar").addEventListener("click", toggleNavigationVisibility, false);
</script>
