<div id="navigation-menu-bar">
  <nav>
    <ul>
      <li>
        {% if page.url == "/2018/" or page.url == "/2018/index.html" %}<span>High Performance Graphics 2018</span>{% endif %}
        {% unless page.url == "/2018/" or page.url == "/2018/index.html" %}<a href="/2018/">High Performance Graphics 2018</a>
        {% endunless %}
      </li><li>
        {% if page.url contains "/2018/cfp" %}<span>CFP</span>{% endif %}
        {% unless page.url contains "/2018/cfp" %}<a href="/2018/cfp/">CFP</a>{% endunless %}
      </li><li>
	<a href="/2018/program/"{% if page.url contains "/2018/program" or page.url contains "/2018/best-paper" %} class="nav-selected"{% endif %}>Program</a>
	<ul>
	  <li><a href="/2018/best-paper/">Best Paper</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2018/registration" %}<span>Registration</span>{% endif %}
        {% unless page.url contains "/2018/registration" %}<a href="/2018/registration/">Registration</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2018/accommodations" %}<span>Accommodations</span>{% endif %}
        {% unless page.url contains "/2018/accommodations" %}<a href="/2018/accommodations/">Accommodations</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2018/venue" %}<span>Venue</span>{% endif %}
        {% unless page.url contains "/2018/venue" %}<a href="/2018/venue/">Venue</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2018/submissions" %}<span>Submissions</span>{% endif %}
        {% unless page.url contains "/2018/submissions" %}<a href="/2018/submissions/">Submissions</a>{% endunless %}
      </li><li>
	<a href="/2018/organization/"{% if page.url contains "/2018/organization" or page.url contains "/2018/steering-committee" or page.url contains "/2018/web-archive" or page.url contains "/2018/support" or page.url contains "/2018/contact-us" %} class="nav-selected"{% endif %}>Organization</a>
        <ul>
          <li><a href="/2018/steering-committee/">Steering Committee</a></li>
          <li><a href="/2018/web-archive/">Web Archive</a></li>
          <li><a href="/2018/support/">Support</a></li>
          <li><a href="/2018/contact-us/">Contact Us</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<script>
  function toggleNavigationVisibility() {
      let navMenu = document.getElementById("navigation-menu-bar").children[0].children[0];
      for (let i = 0; i < navMenu.children.length; i++) {
          navMenu.children[i].classList.toggle("display-whole-navigation-menu");
      }
  }
  document.getElementById("navigation-menu-bar").addEventListener("click", toggleNavigationVisibility, false);
</script>
