<h2>Thanks to our 2019 sponsors</h2>
<p><a href="http://unity.com/?utm_source=HPG&amp;utm_medium=event&amp;utm_campaign=unitypage">
    <img src="/assets/images/2019/logo-unity-2018.png" alt="Unity" title="Unity" width="160" height="58">
  </a><br />
  <a href="https://about.unrealengine.com/">
    <img src="/assets/images/2019/unreal_engine_2019.png" alt="Unreal Engine" title="Unreal Engine" width="160" height="182">
  </a><br />
  <a href="https://about.facebook.com/realitylabs/">
    <img src="/assets/images/2019/logo-FRL-2019.png" alt="Facebook Reality Labs" title="Facebook Reality Labs" width="180" height="68">
  </a>
</p>
<hr />
<p>
  <a href="https://www.amd.com">
    <img src="/assets/images/2019/AMD.png" alt="AMD" title="AMD" width="160" height="62">
  </a><br /><a href="https://www.nvidia.com">
    <img src="/assets/images/2019/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="150" height="111">
  </a><br />
  <a href="https://www.samsung.com">
    <img src="/assets/images/2019/logo-samsung-2017.png" alt="Samsung" title="Samsung" width="150" height="26">
  </a><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2019/Intel.png" alt="Intel" title="Intel" width="160" height="121">
  </a>
</p>
<hr />
<p>
  <a href="https://www.activision.com">
    <img src="/assets/images/2019/logo-activision-2017.png" alt="Activision" title="Activision" width="150" height="38">
  </a><br />
  <a href="https://www.khronos.org">
    <img align="middle" src="/assets/images/2019/logo-khronos-2019.svg" alt="Khronos Group" title="Khronos Group" width="200" height="48"></a><br />
  <a href="https://www.wetafx.co.nz">
    <img align="middle" src="/assets/images/2019/logo-weta-2019.png" alt="Weta Digital" title="Weta Digital" width="200" height="72"></a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2019/logo-eg-2017.png" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2019/sig-logo-small.png" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="90">
  </a>
</p>
