<h2>Thanks to our 2020 sponsors</h2>
<p><a href="https://about.facebook.com/realitylabs/">
    <img src="/assets/images/2020/logo-FRL-2019.png" alt="Facebook Reality Labs" title="Facebook Reality Labs" width="180" height="68">
  </a><br />
  <a href="http://unity.com/?utm_source=HPG&amp;utm_medium=event&amp;utm_campaign=unitypage">
    <img src="/assets/images/2020/logo-unity-2018.png" alt="Unity" title="Unity" width="160" height="58">
  </a><br />
</p>
<hr />
<p>
  <a href="https://www.nvidia.com">
    <img src="/assets/images/2020/NVIDIA.png" alt="NVIDIA" title="NVIDIA" width="150" height="111">
  </a><br />
  <a href="https://www.intel.com">
    <img src="/assets/images/2020/Intel.png" alt="Intel" title="Intel" width="160" height="121">
  </a><br />
  <a href="https://imgtec.com">
    <img src="/assets/images/2020/Imagination_Logo_hori_Blk.png" alt="Imagination" title="Imagination" width="160" height="29">
  </a><br />
  <a href="https://www.amd.com">
    <img src="/assets/images/2020/AMD.png" alt="AMD" title="AMD" width="160" height="62">
  </a>
</p>
<hr />
<p>
  <a href="https://www.activision.com">
    <img src="/assets/images/2020/logo-activision-2017.png" alt="Activision" title="Activision" width="150" height="38">
  </a><br />
  <a href="https://www.khronos.org">
    <img align="middle" src="/assets/images/2020/logo-khronos-2019.svg" alt="Khronos Group" title="Khronos Group" width="200" height="48"></a>
</p>
<hr />
<h3>Institutional Sponsors</h3>
<p>
  <a href="https://www.eg.org"><br>
    <img src="/assets/images/2020/logo-eg-2017.png" alt="Eurographics" title="Eurographics" width="90" height="56">
  </a><br />
  <a href="https://www.siggraph.org">
    <img src="/assets/images/2020/sig-logo-small.png" alt="ACM SIGGRAPH" title="ACM SIGGRAPH" width="90" height="90">
  </a>
</p>
