<div id="navigation-menu-bar">
  <nav>
    <ul>
      <li>
        {% if page.url == "/2021/" or page.url == "/2021/index.html" %}<span><img src="/assets/images/2021/home.svg" width="24" height="24" alt="HOME" id="home" /></span>{% endif %}
        {% unless page.url == "/2021/" or page.url == "/2021/index.html" %}<a href="/2021/"><img src="/assets/images/2021/home.svg" width="24" height="24" alt="HOME" id="home" /></a>
        {% endunless %}
      </li><li>
        {% if page.url contains "/2021/program" or page.url contains "/2021/best-paper" %}<span>PROGRAM</span>{% endif %}
        {% unless page.url contains "/2021/program" or page.url contains "/2021/best-paper" %}<a href="/2021/program/">PROGRAM</a>{% endunless %}
	<ul>
	  <li><a href="/2021/best-paper/">BEST PAPER</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2021/call-for-participation" or page.url contains "/2021/experimental-virtual-sessions" %}<span>CALL FOR PARTICIPATION</span>{% endif %}
        {% unless page.url contains "/2021/call-for-participation" or page.url contains "/2021/experimental-virtual-sessions" %}<a href="/2021/call-for-participation/">CALL FOR PARTICIPATION</a>{% endunless %}
	<ul>
	  <li><a href="/2021/experimental-virtual-sessions/">VIRTUAL SESSIONS</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2021/registration" %}<span>REGISTRATION</span>{% endif %}
        {% unless page.url contains "/2021/registration" %}<a href="/2021/registration/">REGISTRATION</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2021/diversity-inclusion-program" or page.url contains "/2021/diversity-inclusion-program-application" %}<span>DIVERSITY &amp; INCLUSION</span>{% endif %}
        {% unless page.url contains "/2021/diversity-inclusion-program" or page.url contains "/2021/diversity-inclusion-program-application" %}<a href="/2021/diversity-inclusion-program/">DIVERSITY &amp; INCLUSION</a>{% endunless %}
	<ul>
	  <li><a href="/2021/diversity-inclusion-program/">DIVERSITY &amp; INCLUSION PROGRAM</a></li>
	  <li><a href="/2021/diversity-inclusion-program-application/">APPLICATION</a></li>
	</ul>
      </li><li>
        {% if page.url contains "/2021/student-competition" %}<span>STUDENT COMPETITION</span>{% endif %}
        {% unless page.url contains "/2021/student-competition" %}<a href="/2021/student-competition/">STUDENT COMPETITION</a>{% endunless %}
      </li><li>
        {% if page.url contains "/2021/organization" or page.url contains "/2021/steering-committee" or page.url contains "/2021/web-archive" or page.url contains "/2021/support-the-conference" or page.url contains "/2021/contact-us" %}<span>ORGANIZATION</span>{% endif %}
        {% unless page.url contains "/2021/organization" or page.url contains "/2021/steering-committee" or page.url contains "/2021/web-archive" or page.url contains "/2021/support-the-conference" or page.url contains "/2021/contact-us" %}<a href="/2021/organization/">ORGANIZATION</a>{% endunless %}   
        <ul>
          <li><a href="/2021/organization/">HPG 2021 COMMITTEE</a></li>
          <li><a href="/2021/steering-committee/">STEERING COMMITTEE</a></li>
          <li><a href="/2021/web-archive/">WEB ARCHIVE</a></li>
          <li><a href="/2021/support-the-conference/">SUPPORT THE CONFERENCE</a></li>
          <li><a href="/2021/contact-us/">CONTACT US</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<script>
  function toggleNavigationVisibility() {
      let navMenu = document.getElementById("navigation-menu-bar").children[0].children[0];
      for (let i = 0; i < navMenu.children.length; i++) {
          navMenu.children[i].classList.toggle("display-whole-navigation-menu");
      }
  }
  document.getElementById("navigation-menu-bar").addEventListener("click", toggleNavigationVisibility, false);
</script>
