<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap">
    <link rel="stylesheet" href="/assets/css/2013_styles.css">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/2013/cropped-cropped-hpg-badge-logo-32x32.png" | absolute_url }}">
  </head>
  <body>
    <div id="scroll-top">^</div>
    <div id="outer-container">
      <div id="header-content">
        <h1 id="site-title"><a href="https://www.highperformancegraphics.org/2013/">High Performance Graphics 2013</a></h1>
        <h2 id="site-subtitle">Anaheim, California | July 19-21, 2013</h2>
      </div>
      {% include 2013_navigation.html %}
      <div id="content-wrapper">
        <div id="main-content">
          {{ content }}
        </div>
	<div id="contact-and-sponsors">
	  <aside id="contact">
	    <p><a href="https://twitter.com/HPG_Conf">Follow @HPG_Conf</a><br />
	      <a href="/2013/contact-us/#subscribe">Sign-up for our mailing list</a></p>
	  </aside>
          <aside id="sponsors">
	    {% include 2013_sponsors.html %}
          </aside>
	</div>
      </div>
    </div>
    <script>
      /* All just for the scroll-to-top functionality */
      var scrollTopOpacity = 0;
      var scrollTopIntervalTimer;
      var scrollTopAmount;
      function fadeScrollTop() {
          let scrollTopElement = document.getElementById("scroll-top");
          if (scrollTopAmount < 20) {
              scrollTopOpacity -= 1/16;
              if (scrollTopOpacity < 0) { scrollTopOpacity = 0; }
          } else {
              scrollTopOpacity += 1/16;
              if (scrollTopOpacity > 1) { scrollTopOpacity = 1; }
          }
          if (scrollTopOpacity == 0) {
              scrollTopElement.style.display = "none";
          } else {
              scrollTopElement.style.display = "block";
              scrollTopElement.style.opacity = scrollTopOpacity * 0.3;
          }
      }
      function scrollTopTimerFade() {
          scrollTopAmount = document.documentElement.scrollTop;
          if (scrollTopAmount < 20 && scrollTopOpacity == 0 ||
              scrollTopAmount >= 20 && scrollTopOpacity == 1) {
              window.clearInterval(scrollTopIntervalTimer);
              window.addEventListener("scroll", scrollListener);
          } else {
              fadeScrollTop();
          }
      }
      function scrollListener() {
          scrollTopAmount = document.documentElement.scrollTop;
          if ((scrollTopAmount < 20 && scrollTopOpacity == 1) ||
              (scrollTopAmount >= 20 && scrollTopOpacity == 0)) {
              window.removeEventListener("scroll", scrollListener);
              scrollTopIntervalTimer = window.setInterval(scrollTopTimerFade, 38);
              fadeScrollTop();
          }
      }
      document.getElementById("scroll-top").addEventListener("click",
        function () { document.documentElement.scrollTop = 0; });
      window.addEventListener("scroll", scrollListener);
    </script>
  </body>
</html>
